ul,
li,
a.item:link,
a.item:visited,
a.item:active {
  text-decoration: none;
  list-style: none;
  display: block;
  float: left;
  padding: 20px 25px;
}

a {
  color: whitesmoke;
}

p {
  color: black;
  background-color: aquamarine;
}

body {
  background-image: url(bg.jpeg);
}
